@charset "utf-8";
/* CSS Document */
*{
	margin:0px;
	padding:0px;}
	.bb{
		border:2px solid #C00;
		height:402px;
		width:160px;
		position:relative;
		left:100px;}
	.aa{
		width:160px;
		height:30px;
		background:#C03;;
		font-size:13px;
		color:white;
		position:absolute;
		}
		.aa h3{
			position:absolute;
			top:5px;
			left:15px;}
			li{
				list-style:none;
				background:rgb(248,248,248);
				}
			.cc	li a{
					display:block;
					width:160px;
					height:30px;
					border-bottom:1px solid #CCC;
					text-decoration:none;
					text-align:center;
					line-height:30px;
					}
					.cc{
						position:absolute;
						top:30px;
						z-index:3;}
						.cc li img{
							width:20px;
							height:15px;
							position:absolute;
							right:6px;
							margin-top:8px;}
							.cc a:hover{
								text-decoration:underline;
								color:#C30;
								font-weight:bold;}
								.cc li:hover{
									border:1px solid #DDD;
									border-right:none;
									box-shadow:0 0 8px #DDD;
									background:#FFF;}
									.cc li:hover img{
										display:none;}
										.submenu{
											display:none;
											width:800px;
											left:153px;
											position:absolute;
											border:1px solid #CCC;
											top:-10px;
											background:#FFF;
											z-index:4;
											box-shadow:0 0 8px #DDD;
											}
											.leftdiv{
												
												float:left;
												width:580px;
												margin:5px;
												}
													.rightdiv{
												background:white;
												float:left;
												width:200px;
												margin:5px;
												}
											 li:hover .submenu{
												display:block;}
											.cc li:hover span{
													
													width:20px;
													height:29px;
													background:#FFF;
													display:inline-block;
													z-index:9;
													position:absolute;
													left:135px;
													
													
													}
													  .leftdiv dl
        {
            display: block;
            border-bottom: 1px solid #EEE;
            padding-bottom: 6px;
            overflow: hidden;
        }
        .leftdiv dl dt
        {
            display: block;
            float: left;
            width: 60px;
            text-align: right;
            height: 22px;
            line-height: 22px;
            padding-right: 6px;
        }
        
        .leftdiv dl dt a
        {
            color: #e4393c;
            font-weight: bold;
            text-decoration: underline;
            font-size: 10pt;
			border-bottom:none;
			margin-left:-45px;
        }
        .leftdiv dl dd
        {
            display: block;
            overflow: hidden;
        }
        .leftdiv dl dd a
        {
			width:60px;
            display: block;
            float: left;
            border-left: 1px solid #CCC;
            color: #737373;
            font-size: 9pt;
            padding: 0 8px;
            height: 14px;
            line-height: 14px;
            margin: 4px 0;
			border-bottom:none;
        }
		 .rightdiv dl dd
        {
            margin: 3px 0;
        }
        
        .rightdiv dl dt
        {
            color: #e4393c;
            font-weight: bold;
            font-size: 10pt;
        }
        
        .rightdiv dl dd a
        {
            font-size: 9pt;
            color: #737373;
            line-height: 22px;
        }
        .rightdiv dl dd a:hover
        {
            color: #737373;
            font-weight: normal;
        }
					#d1{
		border : 1px solid #aaaaaa;
		margin-left:80px;
		margin-top:40px;
		width:1200px; 
		height:300px; 
		overflow:hidden;
		position:relative;
	}
	
	#adv,#num{
		position:absolute;
	}
	
	.dl ul li{
		list-style:none;
		display:inline;
	}
	 ul img{
		width:1200px; 
		height:300px;
		display:block;
	}
	
	#num{
		right:5px;
		bottom:5px;
	}
	
	#num li{
		float: left;
		color: #FF7300;
		text-align: center;
		line-height: 16px;
		width: 16px;
		height: 16px;
		font-family: Arial;
		font-size: 12px;
		cursor: pointer;
		overflow: hidden;
		margin: 3px 1px;
		border: 1px solid #FF7300;
		
	}
	
	.on{
		line-height: 21px;
		width: 21px;
		height: 21px;
		font-size: 16px;
		margin: 0 1px;
		border: 0;
		background-color:red;
		font-weight: bold;
	}

.bb{
	position:absolute;
	top:40px;}